<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="./base :: head">
</head>
<body>
    <nav th:replace="./base :: nav">
    </nav>
    <div class="container">
        <h1 class="text-secundary border border-primary" th:text="${titulo}"></h1>
        
        <form th:action="@{/temas/form}" th:object="${temas}" method="post">
            <div class="form-group">
                <div class="form-group col-ms-6">
                    <label class="col-ms-2 col-form-label">Nombre del tema</label>
                    <input type="text" th:field="*{nombre}" class="form-control" />
                </div>  
                <div class="form-group col-ms-6">
                    <label class="col-ms-2 col-form-label">Descripción del tema</label>
                    <textarea cols="30" rows="10" th:field="*{descripcion}"></textarea>
                </div>      
                 

                <div class="col-ms-6" style="padding-top: 2%;">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
                <input type="hidden" th:field="*{id}"/>
            </div>
        </form>
    </div>
    <footer th:replace="./base :: footer">
    </footer>
    <div th:replace="./base :: scripts">
    </div>
</body>
</html>