<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head th:replace="./base :: head">
</head>

<body>
    <nav th:replace="./base :: nav">
    </nav>
    <div class="container">
        <h1 class="text-secundary border border-primary" th:text="${titulo}"></h1>
        <p><a th:href="@{/respuestas/form}" class="btn btn-success btn-xs">Crear una nueva respuesta</a></p>
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Id Comentario</th>
                <th>Usuario</th>
                <th>Respuesta al comentario</th>
            </thead>
            <tbody>
                <tr th:each="respuestas: ${respuestas}">
                    <td th:text="${respuestas.id}"></td>
                    <td th:text="${respuestas.comentario.contenido}"></td>
                    <td th:text="${respuestas.usuario.nombre}"></td>
                    <td th:text="${respuestas.respuestaComentario}"></td>
                    <td><a th:href="@{/respuestas/form/} + ${respuestas.id}" class="btn btn-primary btn-xs">Editar</a></td>
                    <td><a th:href="@{/respuestas/eliminar/} + ${respuestas.id}" class="btn btn-danger btn-xs" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="./base :: footer">
    </footer>
    <div th:replace="./base :: scripts">
    </div>
</body>

</html>