<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head th:replace="./base :: head">
</head>

<body>
    <nav th:replace="./base :: nav">
    </nav>
    <div class="container">
        <h1 class="text-secundary border border-primary" th:text="${titulo}"></h1>
        <p><a th:href="@{/temas/form}" class="btn btn-success btn-xs">Crear un nuevo tema</a></p>
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
            </thead>
            <tbody>
                <tr th:each="temas: ${temas}">
                    <td th:text="${temas.id}"></td>
                    <td th:text="${temas.nombre}"></td>
                    <td th:text="${temas.descripcion}"></td>
                    <td><a th:href="@{/temas/form/} + ${temas.id}" class="btn btn-primary btn-xs">Editar</a></td>
                    <td><a th:href="@{/temas/eliminar/} + ${temas.id}" class="btn btn-danger btn-xs" onclick="return confirm('¿Seguro que desea eliminar?')">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="./base :: footer">
    </footer>
    <div th:replace="./base :: scripts">
    </div>
</body>

</html>